{{ define "content" }}

    <p class="lead">
        <a href="/thread/new">Start a thread</a> or join one below!
    </p>
    {{ range . }}
        <div class="card">
            <div class="card-header">
                <span class="lead"><i class="fa fa-comment-o"></i>{{ .Topic }}</span>
            </div>
            <div class="card-body">
                    Started by {{ .User.Name }} {{  .CreatedAtDate }}
                    <a class="fa-pull-right"  href="thread/read?id={{.UUID}}">Read more</a>
            </div>
        </div><br/>
    {{ end }}

{{ end }}