<!DOCTYPE html>
{{ define "layout" }}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="ChitChat">
    <meta name="author" content="qinritukou">
    <title>ChitChat</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="resources/vendor/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" href="resources/vendor/bootstrap/css/tempusdominus-bootstrap-4.css"/>
	<link rel="stylesheet" href="resources/vendor/fontawesome/css/all.css"/>
	<link rel="stylesheet" href="resources/vendor/toastr/css/toastr.css"/>
	<link rel="stylesheet" href="resources/css/login.css" />


</head>
 <body>
    
    <div class="container">
        {{ template "content" . }}
    </div>
    

    <script type="text/javascript" src="resources/vendor/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="resources/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="resources/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="resources/vendor/bootstrap/js/moment.js"></script>
    <script type="text/javascript" src="resources/vendor/bootstrap/js/moment.ja.js"></script>
    <script type="text/javascript" src="resources/vendor/bootstrap/js/tempusdominus-bootstrap-4.js"></script>

    <script type="text/javascript" src="resources/vendor/fontawesome/js/all.js"></script>
    
    
</body>
</html>

{{ end }}